body{ /* tag */
    background-color: rgb(33, 33, 33);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;  /* remove espaçamento padrão */
    padding: 0; /* remove espaçamento padrão */
}

header{ /* tag */
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid blue;
    width: 100%;
}

h1#logo{/* tag TEMPORARIA */
    margin-left: 30px;
    align-self: center; /* alinhou🙏 */

}

input{ /* tag */
    border: 0px solid blue;
    border-radius: 18px;
    height: 40px;
    width: 30em;
    /* margin-top: 1em; */
    /* align-items: center; */
    align-self: center;

    /* placeholder */
}